<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Online-calculator</title>
</head>
<body>
<h1><center>Онлайн калькулятор.</center></h1>
<p><h3> <center>Введите два целых числа и выберите операцию. </center></h3></p>
<center>
<form th:action="@{/page}" method="post">
    <input type="number" name="a" placeholder="введите число а">
     <select name="operation">
         <option value="">Выберите операцию</option>
         <option value="plus">+</option>
         <option value="minus">-</option>
         <option value="multiply">х</option>
         <option value="divide">/</option>
    </select>
    <input type="number" name="b" placeholder="введите число b">
    <button>Посчитать</button>
</form>
<p th:text="${result}"></p>
    </center>
</body>
</html>