<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:utext="#{cargos}">Cargos</title>
</head>
<body>
<table>
    <td width="15" align="center"><b>Id</b></td>
    <td width="95" align="center" th:utext="#{invoiceNumber}"><b>Invoice number</b></td>
    <td width="140" align="center" th:utext="#{nameCargo}"><b>Name</b></td>
    <td width="60" align="center" th:utext="#{price}"><b>Price</b></td>
    <td width="80" align="center" th:utext="#{insuranceNumber}"><b>Insurance number</b></td>

</table>
<table th:unless="${cargos == null}"  th:each="cargo : ${cargos}">
    <td width="15" align="center" th:text="${cargo.id}"></td>
    <td width="95" align="center" th:text="${cargo.invoiceNumber}"></td>
    <td width="140" align="center" th:text="${cargo.name}"></td>
    <td width="60" align="center" th:text="${cargo.price}"></td>
    <td width="80" align="center" th:text="${cargo.insuranceNumber}"></td>
</table>
<div th:unless="${cargo == null}" >
    <table>
        <td width="15" align="center" th:text="${cargo.id}"></td>
        <td width="95" align="center" th:text="${cargo.invoiceNumber}"></td>
        <td width="140" align="center" th:text="${cargo.name}"></td>
        <td width="60" align="center" th:text="${cargo.price}"></td>
        <td width="80" align="center" th:text="${cargo.insuranceNumber}"></td>
    </table>
</div>
</body>
</html>