<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <title th:utext="#{editDriver}">Edit driver</title>
</head>
<body>

<div th:replace="blocks/navbar :: navbar"></div>
<div th:insert="blocks/header :: header"></div>

<form th:action="@{/editDriver}" method="post" th:object="${driver}">
    <div class="container mt-5">
        <div class="ml-5 form-group row mt-2">
            <label class="col-sm-4 col-form-label" for="id" th:utext="#{id}">Id</label>
            <div class="col-sm-5">
                <input readonly type="text" class="form-control" th:field="*{id}" id="id">
                <div class="error">
                    <p th:each="err : ${#fields.errors('id')}" class="alert-danger" th:text="#{${err}}"></p>
                </div>
            </div>
        </div>
        <div class="ml-5 form-group row mt-2">
            <label class="col-sm-4 col-form-label" for="username" th:utext="#{login}">Login</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" th:field="*{username}" id="username">
                <div class="error">
                    <p th:each="err : ${#fields.errors('username')}" class="alert-danger" th:text="#{${err}}"></p>
                </div>
            </div>
        </div>
        <div class="ml-5 form-group row mt-2">
            <label class="col-sm-4 col-form-label" for="password" th:utext="#{password}">Password</label>
            <div class="col-sm-5">
                <input required type="password" class="form-control" th:field="*{password}" id="password">
                <div class="error">
                    <p th:each="err : ${#fields.errors('password')}" class="alert-danger" th:text="#{${err}}"></p>
                </div>
            </div>
        </div>
        <div class="ml-5 form-group row mt-2">
            <label class="col-sm-4 col-form-label" for="first_name" th:utext="#{name}">Name</label>
            <div class="col-sm-5">
                <input required type="text" class="form-control" th:field="*{first_name}" id="first_name">
                <div class="error">
                    <p th:each="err : ${#fields.errors('first_name')}" class="alert-danger" th:text="#{${err}}"></p>
                </div>
            </div>
        </div>
        <div class="ml-5 form-group row mt-2">
            <label class="col-sm-4 col-form-label" for="last_name" th:utext="#{second_name}">Second name</label>
            <div class="col-sm-5">
                <input type="text" class="form-control" th:field="*{second_name}" id="second_name">
                <div class="error">
                    <p th:each="err : ${#fields.errors('second_name')}" class="alert-danger" th:text="#{${err}}"></p>
                </div>
            </div>
        </div>
        <div class="ml-5 form-group row mt-2">
            <label class="col-sm-4 col-form-label" for="last_name" th:utext="#{last_name}">Last name</label>
            <div class="col-sm-5">
                <input required type="text" class="form-control" th:field="*{last_name}" id="last_name">
                <div class="error">
                    <p th:each="err : ${#fields.errors('last_name')}" class="alert-danger" th:text="#{${err}}"></p>
                </div>
            </div>
        </div>
        <div class="ml-5 form-group row mt-2">
            <label class="col-sm-4 col-form-label" for="isInTrip" th:utext="#{isInTrip}">Is in trip?</label>
            <div class="col-sm-5">
                <input required type="number" min="0" max="1" class="form-control" th:field="*{isInTrip}" id="isInTrip">
                <div class="error">
                    <p th:each="err : ${#fields.errors('isInTrip')}" class="alert-danger" th:text="#{${err}}"></p>
                </div>
            </div>
        </div>
        <div class="ml-5 form-group row mt-2">
            <label class="col-sm-4 col-form-label" for="isActive" th:utext="#{isActive}">Is in trip?</label>
            <div class="col-sm-5">
                <input required type="number" min="0" max="1" class="form-control" th:field="*{isActive}" id="isActive">
                <div class="error">
                    <p th:each="err : ${#fields.errors('isActive')}" class="alert-danger" th:text="#{${err}}"></p>
                </div>
            </div>
        </div>
        <div class="form-group mt-2 text-center">
            <input type="submit" class="btn btn-success" th:value="${#locale.toString() == 'en_EN'}? 'Edit driver' :
             'Изменить водителя'">
        </div>
    </div>
</form>
</body>
</html>