<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:utext="#{trips}">Trips</title>
</head>
<body>
<style>
    .even{background-color: #FFFACD}
    .odd{background-color: #7FFFD4}
</style>
<div >
<form align="center" th:action="@{/trips/all}">
    <input type="radio" name="lang" id="english" value="en_En">
    <label for="english">English</label>
    <input type="radio" name="lang" id="russian" value="ru_Ru">
    <label for="russian">Русский</label>
    <button th:utext="#{selectLanguage}">Language</button>
</form>
<hr></hr>
</div>
<table>
    <td width="15" align="center"><b>Id</b></td>
    <td width="75" align="center" th:utext="#{startPoint}"><b>From</b></td>
    <td width="150" align="center" th:utext="#{endPoint}"><b>Where</b></td>
    <td width="80" align="center" th:utext="#{distance}"><b>Distance</b></td>
    <td width="110" align="center" th:utext="#{startDate}"><b>Start date</b></td>
    <td width="65" align="center" th:utext="#{startTime}"><b>Start time</b></td>
    <td width="60" align="center" th:utext="#{fuelUsed}"><b>Fuel used</b></td>
    <td width="100" align="center" th:utext="#{idDispatcher}"><b>Dispatcher</b></td>
    <td width="150" align="center" th:utext="#{idDriver}"><b>Driver</b></td>
    <td width="140" align="center" th:utext="#{idCar}"><b>Car</b></td>
    <td width="150" align="center" th:utext="#{idCargo}"><b>Cargo</b></td>
    <td width="110" align="center" th:utext="#{endDate}"><b>End date</b></td>
    <td width="70" align="center" th:utext="#{endTime}"><b>End time</b></td>
</table>
<table>
    <tr th:unless="${trips == null}"  th:each="trip : ${trips}" th:class="${tripStat.even}?'even':'odd'">
    <td width="15" align="center" th:text="${trip.id}"></td>
    <td width="75" align="center" th:text="${trip.startPoint}"></td>
    <td width="150" align="center" th:text="${trip.endPoint}"></td>
    <td width="80" align="center" th:text="${trip.distance}"></td>
    <td width="110" align="center" th:text="${trip.startDate}"></td>
    <td width="65" align="center" th:text="${trip.startTime}"></td>
    <td width="60" align="center" th:text="${trip.fuelUsed}"></td>
    <td width="100" align="center" th:text="${trip.idDispatcher}"></td>
    <td width="150" align="center" th:text="${trip.idDriver}"></td>
    <td width="140" align="center" th:text="${trip.idCar}"></td>
    <td width="150" align="center"> <a th:href="@{/cargo(id=${trip.IdCargo.getId})}" th:text="${trip.idCargo}"> </a></td>
    <td width="110" align="center" th:text="${trip.endDate}"></td>
    <td width="70" align="center" th:text="${trip.endTime}"></td>
    </tr>
</table>
<table align="center" cellspacing="20">
    <tr >
        <td ><a href="/trips/all" th:utext="#{trips}">Trips</a></td>
        <td ><a href="/drivers/all" th:utext="#{drivers}">Drivers</a></td>
        <td ><a href="/dispatchers/all" th:utext="#{dispatchers}">Dispatchers</a></td>
        <td ><a href="/cars/all" th:utext="#{cars}">Cars</a></td>
        <td ><a href="/cargos/all" th:utext="#{cargos}">Cargos</a></td>
        <td ><a href="/statusCar/all" th:utext="#{carStatuses}">Car statuses</a></td>
    </tr>
</table>

</body>
</html>