<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:utext="#{trips}">Trips</title>
</head>
<body>
<table>
    <td width="15" align="center"><b>Id</b></td>
    <td width="75" align="center" th:utext="#{startPoint}"><b>From</b></td>
    <td width="150" align="center" th:utext="#{endPoint}"><b>Where</b></td>
    <td width="80" align="center" th:utext="#{distance}"><b>Distance</b></td>
    <td width="110" align="center" th:utext="#{startDate}"><b>Start date</b></td>
    <td width="65" align="center" th:utext="#{startTime}"><b>Start time</b></td>
    <td width="60" align="center" th:utext="#{fuelUsed}"><b>Fuel used</b></td>
    <td width="100" align="center" th:utext="#{idDispatcher}"><b>Dispatcher</b></td>
    <td width="150" align="center" th:utext="#{idDriver}"><b>Driver</b></td>
    <td width="140" align="center" th:utext="#{idCar}"><b>Car</b></td>
    <td width="150" align="center" th:utext="#{idCargo}"><b>Cargo</b></td>
    <td width="110" align="center" th:utext="#{endDate}"><b>End date</b></td>
    <td width="70" align="center" th:utext="#{endTime}"><b>End time</b></td>
</table>
<table th:unless="${trips == null}"  th:each="trip : ${trips}">
    <td width="15" align="center" th:text="${trip.id}"></td>
    <td width="75" align="center" th:text="${trip.startPoint}"></td>
    <td width="150" align="center" th:text="${trip.endPoint}"></td>
    <td width="80" align="center" th:text="${trip.distance}"></td>
    <td width="110" align="center" th:text="${trip.startDate}"></td>
    <td width="65" align="center" th:text="${trip.startTime}"></td>
    <td width="60" align="center" th:text="${trip.fuelUsed}"></td>
    <td width="100" align="center" th:text="${trip.idDispatcher}"></td>
    <td width="150" align="center" th:text="${trip.idDriver}"></td>
    <td width="140" align="center" th:text="${trip.idCar}"></td>
    <td width="150" align="center"> <a th:href="@{/cargo(id=${trip.IdCargo.getId})}" th:text="${trip.idCargo}"> </a></td>
    <td width="110" align="center" th:text="${trip.endDate}"></td>
    <td width="70" align="center" th:text="${trip.endTime}"></td>
</table>
<!--<div th:unless="${carWithStatus == null}" >
<table th:each="car1: ${carWithStatus.cars}">
   <td width="15" align="center" th:text="${car1.id}"></td>
   <td width="60" align="center" th:text="${car1.brand}"></td>
   <td width="75" align="center" th:text="${car1.number}"></td>
   <td width="45" align="center" th:text="${car1.mileage}"></td>
   <td width="280" th:text="${car1.idStatus}"></td>
</table>
</div>-->
</body>
</html>